<div class="experience-wrapper" aria-labelledby="experience">
  <h2 class="experience-title">Experiências profissionais</h2>
  <ng-container *ngIf="!isLoading && jobs; else loading">
    <div *ngFor="let job of jobs; let i = index" class="experience-item">
      <h2 class="experience-position">{{ job.position }}</h2>
      <h3 class="experience-company">
        {{ job.company }},
        <span class="experience-company-time">{{ job.startDate }} - {{ job.endDate || 'Present' }}</span>
      </h3>
      <div class="experience-description" [innerHTML]="job.description"></div>
      <div *ngIf="job.technologies" class="experience-badge-wrapper">
        <span *ngFor="let tech of job.technologies" class="experience-badge">{{ tech }}</span>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="experience-item">
      <h2 class="experience-position"><app-skeleton [width]="'100%'" [theme]="theme" /></h2>
      <h3 class="experience-company">
        <app-skeleton [width]="'100%'" [theme]="theme" />
        <span class="experience-company-time"><app-skeleton [width]="'80px'" [theme]="theme" /> - <app-skeleton [width]="'80px'"  [theme]="theme" /></span>
      </h3>
      <div class="experience-description"><app-skeleton [width]="'100%'" [height]="'350px'" [theme]="theme" /></div>
    </div>
  </ng-template>
</div>
