@import 'variables';

.icon-button {
  display: flex;
  width: $size-xl;
  height: $size-xl;
  border-radius: 50%;
  border: 0 none;
  align-items: center;
  justify-content: center;
  margin: $size-xs;
  cursor: pointer;
  background-color: $color-midnight-gray;

  &.activated {
    background-color: $color-sunny-yellow;
  }
}