$size-xs: 8px;
$size-sm: 16px;
$size-md: 24px;
$size-lg: 32px;
$size-xl: 40px;

$color-snowy-white: #FFF;
$color-froggy-green: #4CD964;
$color-sky-high-blue: #007AFF;
$color-sunny-yellow: #FC0;
$color-smokey-gray: #B3B3B3;
$color-midnight-gray: #4A4A4A;
