@keyframes loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.skeleton {
  background-size: 200% 100%;
  animation: loading linear infinite;
  display: inline-block;

  background-image: linear-gradient(90deg, #2a2f37 8%, #3a3f47 18%, #2a2f37 33%);

  &.light {
    background-image: linear-gradient(90deg, #f0f0f0 8%, #e0e0e0 18%, #f0f0f0 33%);
  }
}
